@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.main-section{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url(images/jeff.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
ul{
    list-style: none;
    margin-right: 50px;
}
ul li{
    display: inline-block;
}
ul li a{
    font-size: 17px;
    text-decoration: none;
    color: aliceblue;
    padding: 8px 25px;
    transform: 0.5s ease;
}
ul li a:hover{
    background-color: floralwhite;
    color: black;
}
ul li .active{
    background-color: floralwhite;
    color: black;
}
.logo{
    margin-left: 50px;
}
.logo h2{
    color: #fff;
    font-size: 35px;
    
}
.hero-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero-section h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    letter-spacing: 1.5px;

}
.hero-section p{
    font-family: sans-serif;
    font-size: 19px;
    color: #fff;
    margin-top: 10px;
}
.button{
    margin-top: 30px;

}
.button .btn{
    text-decoration: none;
    background-color: #fff;
    color: #e63e3e;
    display: inline-block;
    border: 1px solid #fff;
    font-size: 19px;
    padding: 10px 20px;
    margin: 0px 5px;
    letter-spacing: 1.5px;
    transition: 0.5s ease;

}
.button .btn:hover{
    background-color: #000;
    color: #fff;
}